* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Jua", sans-serif;
}
#mobileFrame {
  background: #fff;
  width: 390px;
  height: 844px;
  margin-left: 200px;
  margin-top: 100px;
  border: 17px solid black;
  border-radius: 60px;
  position: relative;
  z-index: 9999;
}
.frameBt {
  background: black;
  position: absolute;
}
.bt1 {
  width: 10px;
  height: 33px;
  top: 80px;
  left: -20px;
  border-radius: 10px;
}
.bt2 {
  width: 10px;
  height: 60px;
  top: 150px;
  left: -20px;
  border-radius: 10px;
}
.bt3 {
  width: 10px;
  height: 60px;
  top: 221px;
  left: -20px;
  border-radius: 10px;
}

.bt4 {
  width: 10px;
  height: 100px;
  top: 160px;
  right: -20px;
  border-radius: 10px;
}

.bt5 {
  width: 180px;
  height: 42px;
  top: -17px;
  left: 91.5px;
  border-radius: 25px;
}
/* 상단 디스플레이 */
header {
  position: relative;
  top: 17px;
  padding-bottom: 19px;
  /* border-bottom: 1px solid rgb(207, 207, 207); */
  /* box-shadow: 0 4px 4px -4px rgb(207, 207, 207); */
  color: #fff;
}

.clock {
  position: absolute;
  left: 35px;
  top: -8px;
}

.clock i {
  font-size: 15px;
}

.display {
  display: flex;
  position: absolute;
  right: 12px;
  top: -8px;
}
.display i {
  font-size: 14px;
  margin-right: 6.5px;
  font-weight: bold;
}
.display i:nth-child(3) {
  font-size: 18px;
}

/* 하단 메뉴 */
footer {
  position: fixed;
  bottom: 40px;
  left: 217px;
  width: calc(390px - 34px);
  height: 65px;
  border-top: 1px solid rgb(207, 207, 207);
  padding: 3px 0;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.icon-wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 1rem;
}

footer div i {
  color: black;
  font-size: 18px;
  margin-bottom: 6px;
}

.icon-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 45px;
  padding: 30px 0;
  border-radius: 20px;
}

.icon-container img {
  width: 25px;
  margin-bottom: 3px;
}

.icon-container div {
  font-size: 12px;
}

.icon-container:nth-child(2) {
  background-color: #ececec;
}

/* 1번 메인 */
main {
  position: relative;
}

.main-upper {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: #0866f4;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  z-index: -10;
}

.main-upper div {
  color: #fff;
  font-size: 25px;
  position: relative;
  top: 60px;
  left: 20px;
  font-weight: 300;
}

.main-upper div span {
  font-weight: bold;
  text-decoration: underline;
}

.main-upper i {
  position: relative;
  top: 0px;
  left: 265px;
  font-size: 20px;
  color: #fff;
}

.main-upper i::after {
  content: "3";
  font-size: 12px;
  width: 20px;
  height: 17px;
  display: inline-block;
  background: red;
  border-radius: 20px;
  text-align: center;
  line-height: 17px;
  position: relative;
  top: -10px;
  left: -8px;
}

#chat::after {
  content: "12";
  font-size: 12px;
  width: 20px;
  height: 17px;
  display: inline-block;
  background: red;
  border-radius: 20px;
  text-align: center;
  line-height: 17px;
  position: relative;
  top: -10px;
  left: -8px;
}

.main-lower {
  position: absolute;
  top: 140px;
  left: 0;
  width: 100%;
  height: 590px;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.searchIpt {
  width: 90%;
  height: 40px;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  color: #adadad;
  line-height: 40px;
}

.searchIpt i {
  margin: 0 10px;
}

.lower-item {
  width: 90%;
  height: 80px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgb(216, 216, 216);
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding: 20px;
}

.lower-item:nth-child(5) {
  background-color: #0866f4;
  color: #fff;
  height: 135px;
}

.lower-item div:nth-child(1) {
  font-size: 23px;
}

.item-arrow {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.opt-cont {
  display: flex;
  flex-flow: row wrap;
  margin-top: 8px;
}

.opt {
  display: block;
  font-size: 15px;
  background-color: #fff;
  color: #0866f4;
  border-radius: 10px;
  margin-right: 10px;
  width: 80px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 4px;
}
