* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Jua", sans-serif;
}
#mobileFrame {
  background: #fff;
  width: 390px;
  height: 844px;
  margin-left: 200px;
  margin-top: 100px;
  border: 17px solid black;
  border-radius: 60px;
  position: relative;
  z-index: 9999;
}
.frameBt {
  background: black;
  position: absolute;
}
.bt1 {
  width: 10px;
  height: 33px;
  top: 80px;
  left: -20px;
  border-radius: 10px;
}
.bt2 {
  width: 10px;
  height: 60px;
  top: 150px;
  left: -20px;
  border-radius: 10px;
}
.bt3 {
  width: 10px;
  height: 60px;
  top: 221px;
  left: -20px;
  border-radius: 10px;
}

.bt4 {
  width: 10px;
  height: 100px;
  top: 160px;
  right: -20px;
  border-radius: 10px;
}

.bt5 {
  width: 180px;
  height: 42px;
  top: -17px;
  left: 91.5px;
  border-radius: 25px;
}
/* 상단 디스플레이 */
header {
  position: relative;
  top: 17px;
  padding-bottom: 19px;
}

.clock {
  position: absolute;
  left: 35px;
  top: -8px;
}

.clock i {
  font-size: 15px;
}

.display {
  display: flex;
  position: absolute;
  right: 12px;
  top: -8px;
}
.display i {
  font-size: 14px;
  margin-right: 6.5px;
  font-weight: bold;
}
.display i:nth-child(3) {
  font-size: 18px;
}

/* 하단 메뉴 */
footer {
  position: fixed;
  bottom: 40px;
  left: 217px;
  width: calc(390px - 34px);
  height: 65px;
  border-top: 1px solid rgb(207, 207, 207);
  padding: 3px 0;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.icon-wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 1rem;
}

/* 3번 메인 */
main {
  position: relative;
}

.main-upper {
  width: 100%;
  height: 100px;
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
  padding: 0 20px;
  box-shadow: 0 4px 4px -4px rgb(71, 71, 71);
}

.name {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 20px;
}

#chat::after {
  content: "3";
  font-size: 12px;
  width: 17px;
  height: 17px;
  display: inline-block;
  /* background: #0866f4; */
  background: #ff0000;
  border-radius: 20px;
  text-align: center;
  line-height: 17px;
  position: relative;
  top: -10px;
  left: -8px;
  color: #fff;
}

.Sj {
  margin-top: 10px;
}

.main-lower {
  width: 100%;
  height: 597px;
  background-color: rgb(241, 241, 241);
  padding: 15px 10px;
  font-size: 15px;
  border-top: 1px solid rgb(212, 212, 212);
}

.today {
  color: #9c9c9c;
  text-align: center;
  margin-bottom: 20px;
  font-size: 13px;
}

.chatIp {
  width: 100%;
  height: 35px;
  background-color: rgb(245, 245, 245);
  border-radius: 30px;
  margin-left: 20px;
  margin-top: 5px;
  border: 1px solid rgb(228, 228, 228);
}

.chatIp i {
  margin-left: 260px;
  line-height: 35px;
  color: #9c9c9c;
}

.plus {
  color: #9c9c9c;
  font-size: 22px;
  margin-top: 9px;
  margin-left: -5px;
  margin-right: -10px;
}

.textBox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
}

.userBox {
  justify-content: flex-end;
  margin-bottom: 30px;
}

.userBox .text {
  /* background-color: #0866f4; */
  background-color: #042940;
  color: #fff;
}

.prof {
  background: url("/img/chatImg.jpeg") no-repeat;
  width: 40px;
  height: 40px;
  background-size: 50px;
  background-position: -8px 0px;
  border-radius: 30px;
}

.text {
  margin: 0 10px 0 15px;
  background-color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 10px;
  align-self: flex-end;
}

.time {
  font-size: 11px;
  color: #9c9c9c;
  margin-top: 33px;
}

.time2 {
  margin-top: 50px;
}

.time3 {
  margin-top: 70px;
}

.textBox2 {
  margin-left: 39px;
  margin-top: 30px;
}
